h1
  ' FAQ

h2
  ' How long do you keep my data?
p
  ' All data that's collected is deleted every 24 hours.

h2
  ' How can I contribute to ScrumLogs?
p
  ' ScrumLogs is open source! Submit a pull request or report issues via 
  a href="https://github.com/mscoutermarsh/scrumlogs"
   ' Github

h2
  ' Why do you need access to my private github repos?
p
  ' Unfortunately the github API does not allow access to private activity (events) data without full repo permissions. If you know a way to do this, please get in touch or submit a pull request to the project. Your access token/github username are encrypted and stored in a heroku postgres database.

h2
  ' What time will I get the email?
p
  ' Emails are sent out around 8:30 AM your local time.

h2
 ' I need help!
p
 ' Tweet 
 a href="https://twitter.com/mscccc"
   ' @mscccc
 ' or email: 
 code
   ' coutermarsh.mike@gmail.com