---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/mscoutermarsh/events?access_token=ABC123&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="ABC123"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1383505157'
      Last-Modified:
      - Sun, 03 Nov 2013 18:07:29 GMT
      Etag:
      - '"8d898e25e6e83196ce029421f269b49a"'
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/155044/events?access_token=ABC123&page=2>;
        rel="next"
    body:
      encoding: UTF-8
      string: '[{"id":"1876925830","type":"DeleteEvent","actor":{"id":155044,"login":"mscoutermarsh","gravatar_id":"bb649d0c68ad7bc7605773024e500701","url":"https://api.github.com/users/mscoutermarsh","avatar_url":"https://1.gravatar.com/avatar/bb649d0c68ad7bc7605773024e500701?d=https%3A%2F%2Fa248.e.akamai.net%2Fassets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&r=x"},"repo":{"id":12369526,"name":"mscoutermarsh/scrumlogs","url":"https://api.github.com/repos/mscoutermarsh/scrumlogs"},"payload":{"ref":"test-branch","ref_type":"branch"},"public":true,"created_at":"2013-11-03T18:07:29Z"},{"id":"1876925809","type":"PushEvent","actor":{"id":155044,"login":"mscoutermarsh","gravatar_id":"bb649d0c68ad7bc7605773024e500701","url":"https://api.github.com/users/mscoutermarsh","avatar_url":"https://1.gravatar.com/avatar/bb649d0c68ad7bc7605773024e500701?d=https%3A%2F%2Fa248.e.akamai.net%2Fassets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&r=x"},"repo":{"id":12369526,"name":"mscoutermarsh/scrumlogs","url":"https://api.github.com/repos/mscoutermarsh/scrumlogs"},"payload":{"push_id":254418307,"size":2,"distinct_size":1,"ref":"refs/heads/master","head":"d85666c8ab2c8b468a05c42b6be05ce65d4ea287","before":"9e4a7ffdd3c46a5df11c09abeaf4cc383f34153b","commits":[{"sha":"ea57ecb969ccd5949ffc1936b60dcd3a4b3b0f92","author":{"email":"coutermarsh.mike@gmail.com","name":"Mike
        Coutermarsh"},"message":"[test-branch] update user schema","distinct":false,"url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/commits/ea57ecb969ccd5949ffc1936b60dcd3a4b3b0f92"},{"sha":"d85666c8ab2c8b468a05c42b6be05ce65d4ea287","author":{"email":"coutermarsh.mike@gmail.com","name":"Mike
        Coutermarsh"},"message":"Merge pull request #9 from mscoutermarsh/test-branch\n\n[test-branch]
        update user schema","distinct":true,"url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/commits/d85666c8ab2c8b468a05c42b6be05ce65d4ea287"}]},"public":true,"created_at":"2013-11-03T18:07:27Z"},{"id":"1876925808","type":"PullRequestEvent","actor":{"id":155044,"login":"mscoutermarsh","gravatar_id":"bb649d0c68ad7bc7605773024e500701","url":"https://api.github.com/users/mscoutermarsh","avatar_url":"https://1.gravatar.com/avatar/bb649d0c68ad7bc7605773024e500701?d=https%3A%2F%2Fa248.e.akamai.net%2Fassets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&r=x"},"repo":{"id":12369526,"name":"mscoutermarsh/scrumlogs","url":"https://api.github.com/repos/mscoutermarsh/scrumlogs"},"payload":{"action":"closed","number":9,"pull_request":{"url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/pulls/9","id":9629052,"html_url":"https://github.com/mscoutermarsh/scrumlogs/pull/9","diff_url":"https://github.com/mscoutermarsh/scrumlogs/pull/9.diff","patch_url":"https://github.com/mscoutermarsh/scrumlogs/pull/9.patch","issue_url":"https://github.com/mscoutermarsh/scrumlogs/pull/9","number":9,"state":"closed","title":"[test-branch]
        update user schema","user":{"login":"mscoutermarsh","id":155044,"avatar_url":"https://2.gravatar.com/avatar/bb649d0c68ad7bc7605773024e500701?d=https%3A%2F%2Fidenticons.github.com%2Fbdb8fa527a9ba043e9c044a648b75ddc.png&r=x","gravatar_id":"bb649d0c68ad7bc7605773024e500701","url":"https://api.github.com/users/mscoutermarsh","html_url":"https://github.com/mscoutermarsh","followers_url":"https://api.github.com/users/mscoutermarsh/followers","following_url":"https://api.github.com/users/mscoutermarsh/following{/other_user}","gists_url":"https://api.github.com/users/mscoutermarsh/gists{/gist_id}","starred_url":"https://api.github.com/users/mscoutermarsh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mscoutermarsh/subscriptions","organizations_url":"https://api.github.com/users/mscoutermarsh/orgs","repos_url":"https://api.github.com/users/mscoutermarsh/repos","events_url":"https://api.github.com/users/mscoutermarsh/events{/privacy}","received_events_url":"https://api.github.com/users/mscoutermarsh/received_events","type":"User","site_admin":false},"body":"another
        pull request for more test data","created_at":"2013-11-03T18:06:52Z","updated_at":"2013-11-03T18:07:27Z","closed_at":"2013-11-03T18:07:27Z","merged_at":"2013-11-03T18:07:27Z","merge_commit_sha":"89791ba05704be49c06ae94da3ec994a7ffcd0aa","assignee":null,"milestone":null,"commits_url":"https://github.com/mscoutermarsh/scrumlogs/pull/9/commits","review_comments_url":"https://github.com/mscoutermarsh/scrumlogs/pull/9/comments","review_comment_url":"/repos/mscoutermarsh/scrumlogs/pulls/comments/{number}","comments_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/issues/9/comments","statuses_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/statuses/ea57ecb969ccd5949ffc1936b60dcd3a4b3b0f92","head":{"label":"mscoutermarsh:test-branch","ref":"test-branch","sha":"ea57ecb969ccd5949ffc1936b60dcd3a4b3b0f92","user":{"login":"mscoutermarsh","id":155044,"avatar_url":"https://2.gravatar.com/avatar/bb649d0c68ad7bc7605773024e500701?d=https%3A%2F%2Fidenticons.github.com%2Fbdb8fa527a9ba043e9c044a648b75ddc.png&r=x","gravatar_id":"bb649d0c68ad7bc7605773024e500701","url":"https://api.github.com/users/mscoutermarsh","html_url":"https://github.com/mscoutermarsh","followers_url":"https://api.github.com/users/mscoutermarsh/followers","following_url":"https://api.github.com/users/mscoutermarsh/following{/other_user}","gists_url":"https://api.github.com/users/mscoutermarsh/gists{/gist_id}","starred_url":"https://api.github.com/users/mscoutermarsh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mscoutermarsh/subscriptions","organizations_url":"https://api.github.com/users/mscoutermarsh/orgs","repos_url":"https://api.github.com/users/mscoutermarsh/repos","events_url":"https://api.github.com/users/mscoutermarsh/events{/privacy}","received_events_url":"https://api.github.com/users/mscoutermarsh/received_events","type":"User","site_admin":false},"repo":{"id":12369526,"name":"scrumlogs","full_name":"mscoutermarsh/scrumlogs","owner":{"login":"mscoutermarsh","id":155044,"avatar_url":"https://2.gravatar.com/avatar/bb649d0c68ad7bc7605773024e500701?d=https%3A%2F%2Fidenticons.github.com%2Fbdb8fa527a9ba043e9c044a648b75ddc.png&r=x","gravatar_id":"bb649d0c68ad7bc7605773024e500701","url":"https://api.github.com/users/mscoutermarsh","html_url":"https://github.com/mscoutermarsh","followers_url":"https://api.github.com/users/mscoutermarsh/followers","following_url":"https://api.github.com/users/mscoutermarsh/following{/other_user}","gists_url":"https://api.github.com/users/mscoutermarsh/gists{/gist_id}","starred_url":"https://api.github.com/users/mscoutermarsh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mscoutermarsh/subscriptions","organizations_url":"https://api.github.com/users/mscoutermarsh/orgs","repos_url":"https://api.github.com/users/mscoutermarsh/repos","events_url":"https://api.github.com/users/mscoutermarsh/events{/privacy}","received_events_url":"https://api.github.com/users/mscoutermarsh/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/mscoutermarsh/scrumlogs","description":"what''d
        you get done yesterday?","fork":false,"url":"https://api.github.com/repos/mscoutermarsh/scrumlogs","forks_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/forks","keys_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/teams","hooks_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/hooks","issue_events_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/issues/events{/number}","events_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/events","assignees_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/assignees{/user}","branches_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/branches{/branch}","tags_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/tags","blobs_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/git/refs{/sha}","trees_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/statuses/{sha}","languages_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/languages","stargazers_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/stargazers","contributors_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/contributors","subscribers_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/subscribers","subscription_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/subscription","commits_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/commits{/sha}","git_commits_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/git/commits{/sha}","comments_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/comments{/number}","issue_comment_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/issues/comments/{number}","contents_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/contents/{+path}","compare_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/merges","archive_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/downloads","issues_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/issues{/number}","pulls_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/pulls{/number}","milestones_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/milestones{/number}","notifications_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/labels{/name}","releases_url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/releases{/id}","created_at":"2013-08-26T02:15:06Z","updated_at":"2013-11-03T18:07:27Z","pushed_at":"2013-11-03T18:07:27Z","git_url":"git://github.com/mscoutermarsh/scrumlogs.git","ssh_url":"git@github.com:mscoutermarsh/scrumlogs.git","clone_url":"https://github.com/mscoutermarsh/scrumlogs.git","svn_url":"https://github.com/mscoutermarsh/scrumlogs","homepage":null,"size":1004,"watchers_count":1,"language":"CSS","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":6,"forks":0,"open_issues":6,"watchers":1,"master_branch":"master","default_branch":"master"}},"base":{"label":"mscoutermarsh:master","ref":"master","sha":"9e4a7ffdd3c46a5df11c09abeaf4cc383f34153b","user":{"login":"mscoutermarsh","id":155044,"avatar_url":"https://2.gravatar.com/avatar/bb649d0c68ad7bc7605773024e500701?d=https%3A%2F%2Fidenticons.github.com%2Fbdb8fa527a9ba043e9c044a648b75ddc.png&r=x","gravatar_id":"bb649d0c68ad7bc7605773024e500701","url":"https://api.github.com/users/mscoutermarsh","html_url":"https://github.com/mscoutermarsh","followers_url":"https://api.github.com/users/mscouterm[...]
[...]
