---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/mscoutermarsh/events?access_token=ABC123&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Token token="ABC123"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '1383497525'
      last-modified:
      - Sun, 03 Nov 2013 15:51:32 GMT
      etag:
      - '"4c9d9bdca592c02533b7f0d408c03248"'
      x-poll-interval:
      - '60'
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin
      x-github-media-type:
      - github.v3; format=json
      link:
      - <https://api.github.com/user/155044/events?access_token=ABC123&page=2>;
        rel="next"
    body:
      encoding: UTF-8
      string: '[{"id":"1876879952","type":"PushEvent","actor":{"id":155044,"login":"mscoutermarsh","gravatar_id":"bb649d0c68ad7bc7605773024e500701","url":"https://api.github.com/users/mscoutermarsh","avatar_url":"https://2.gravatar.com/avatar/bb649d0c68ad7bc7605773024e500701?d=https%3A%2F%2Fa248.e.akamai.net%2Fassets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&r=x"},"repo":{"id":12369526,"name":"mscoutermarsh/scrumlogs","url":"https://api.github.com/repos/mscoutermarsh/scrumlogs"},"payload":{"push_id":254392171,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"688bc8e4a316973d6e59f6ad5c300e00aee141ea","before":"6d40fb91ed3b926dceb4b8edb8a1a4d7e344f41c","commits":[{"sha":"688bc8e4a316973d6e59f6ad5c300e00aee141ea","author":{"email":"coutermarsh.mike@gmail.com","name":"Mike
        Coutermarsh"},"message":"add sidetiq. start scheduler job","distinct":true,"url":"https://api.github.com/repos/mscoutermarsh/scrumlogs/commits/688bc8e4a316973d6e59f6ad5c300e00aee141ea"}]},"public":true,"created_at":"2013-11-03T15:51:32Z"},{"id":"1876709948","type":"PushEvent","actor":{"id":155044,"login":"mscoutermarsh","gravatar_id":"bb649d0c68ad7bc7605773024e500701","url":"https://api.github.com/users/mscoutermarsh","avatar_url":"https://2.gravatar.com/avatar/bb649d0c68ad7bc7605773024e500701?d=https%3A%2F%2Fa248.e.akamai.net%2Fassets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&r=x"},"repo":{"id":12369526,"name":"mscoutermarsh/scrumlogs","url":"https://api.github.com/repos/mscoutermarsh/scruml[...]
